/*
### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)
*/
:root {
    /* Primary*/

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /*Neutral*/

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    /* Typography */
    --spartan: "League Spartan", sans-serif;
}

/* Mobile First Approach */
body {
    padding: 0;
    margin: 64px 32px;
    font-family: var(--spartan);
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.main-content {
    text-align: center;
}

.main-content h1 {
    font-weight: 800;
    color: var(--very-dark-magenta);
    letter-spacing: -1.5px;
}

.main-content p {
    color: var(--dark-grayish-magenta);
    line-height: 18px;
}

.main-review {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 30px 0;
}

.ratings {
    background-color: var(--light-grayish-magenta);
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.ratings h3 {
    color: var(--very-dark-magenta);
}

.stars {
    margin-bottom: 10px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-card {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--very-dark-magenta);
}

.review-card p {
    color: var(--white);
    line-height: 20px;
}

.review-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.review-header img {
    border-radius: 100%;
    width: 30px;
    height: auto;
}

.review-header-text h3 {
    color: var(--white);
    font-size: 16px;
}

.review-header-text p {
    color: var(--soft-pink);
    margin: 0;
}

.attribution {
    margin-top: 32px;
    font-size: 12px;
    text-align: center;
}

/* Desktop */
@media screen and (min-width: 769px) {
    body {
        margin: 80px 64px;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-content {
        text-align: left;
        width: 40%;
    }

    .main-content h1 {
        font-size: 44px;
    }

    .main-review {
        width: 60%;
        align-items: flex-end;
        gap: 20px;
    }

    .ratings {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px 30px;
        width: max-content;
    }

    .ratings:nth-child(1) {
        margin-right: 128px;
    }

    .ratings:nth-child(2) {
        margin-right: 64px;
    }

    .stars {
        margin: 0;
    }

    .reviews-container {
        flex-direction: row;
        margin-top: 45px;
    }

    .review-card:nth-child(1) {
        margin-bottom: 60px;
    }

    .review-card:nth-child(2) {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .review-card:nth-child(3) {
        margin-top: 60px;
    }
}